<div class="notification errornotif png_bg">
    <a href="#" class="close">
        <?php //echo $html->image('icons/cross_grey_small.png',array('title'=>'Close this nofications','alt'=>'close'));?>
    </a>
   <div><?php echo $message;?> </div>
</div>