<div class="notification success png_bg">
    <a href="#" class="close">
        <?php echo $this->Html->image('icons/cross_grey_small.png',array('title'=>'Close this nofications','alt'=>'close'));?>
    </a>
    <div><?php echo $message;?> </div>
</div>